<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Studio Max	</title>
	<atom:link href="https://max-salon-bulgaria.github.io/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://max-salon-bulgaria.github.io</link>
	<description>Студио за Красота</description>
	<lastBuildDate>Thu, 06 May 2021 06:29:32 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.7.1</generator>
</channel>
</rss>
